@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-manrope);
}

html,
body {
  min-height: 100%;
}

body {
  font-family: var(--font-manrope), sans-serif;
}
